<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Walkthechat_Walkthechat::walkthechat" title="walkthechat" sortOrder="51" >
					<resource id="Walkthechat_Walkthechat::index" title="index" sortOrder="50" />
					<resource id="Walkthechat_Walkthechat::configuration" title="configuration" sortOrder="100"/>
					<resource id="Walkthechat_Walkthechat::logs" title="logs" sortOrder="150"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Walkthechat_Walkthechat::config_settings" title="Walkthechat" translate="title" sortOrder="80"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>