<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <walkthechat_settings>
            <general>
                <api_url>https://cms-api-staging-v3.walkthechat.com/api/v1/</api_url>
                <auth_url>https://cms-nuxt-api-v3.walkthechat.com/third-party-apps/auth</auth_url>
            </general>
            <sync>
                <order_sync_active>1</order_sync_active>
            </sync>
        </walkthechat_settings>
        <carriers>
            <walkthechat>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>WalktheChat\Walkthechat\Model\Carrier\WTCShipping</model>
                <name>WalkTheChat</name>
                <title>WalkTheChat</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </walkthechat>
        </carriers>
        <payment>
            <walkthechat>
                <order_status>processing</order_status>
                <model>WalktheChat\Walkthechat\Model\WTCPayment</model>
                <active>1</active>
                <title>WalkTheChat</title>
                <payment_action>true</payment_action>
                <group>offline</group>
            </walkthechat>
        </payment>
    </default>
</config>
