<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Walkthechat\Walkthechat\Api\QueueRepositoryInterface" type="Walkthechat\Walkthechat\Model\QueueRepository" />
    <preference for="Walkthechat\Walkthechat\Api\ImageSyncRepositoryInterface" type="Walkthechat\Walkthechat\Model\ImageSyncRepository" />
    <preference for="Walkthechat\Walkthechat\Api\ContentMediaRepositoryInterface" type="Walkthechat\Walkthechat\Model\ContentMediaRepository" />
    <preference for="Walkthechat\Walkthechat\Api\Data\QueueInterface" type="Walkthechat\Walkthechat\Model\Queue" />
    <preference for="Walkthechat\Walkthechat\Api\Data\ApiLogInterface" type="Walkthechat\Walkthechat\Model\ApiLog" />
    <preference for="Walkthechat\Walkthechat\Api\ApiLogRepositoryInterface" type="Walkthechat\Walkthechat\Model\ApiLogRepository" />
    <preference for="Walkthechat\Walkthechat\Api\Data\QueueSearchResultsInterface" type="Walkthechat\Walkthechat\Model\QueueSearchResults" />
    <preference for="Walkthechat\Walkthechat\Api\Data\ImageSyncSearchResultsInterface" type="Walkthechat\Walkthechat\Model\ImageSyncSearchResults" />
    <preference for="Walkthechat\Walkthechat\Api\Data\ImageSyncInterface" type="Walkthechat\Walkthechat\Model\ImageSync" />
    <preference for="Walkthechat\Walkthechat\Api\Data\ContentMediaSearchResultsInterface" type="Walkthechat\Walkthechat\Model\ContentMediaSearchResults" />
    <preference for="Walkthechat\Walkthechat\Api\Data\ContentMediaInterface" type="Walkthechat\Walkthechat\Model\ContentMedia" />
    <preference for="Walkthechat\Walkthechat\Api\OrderImportInterface" type="Walkthechat\Walkthechat\Model\OrderImport" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wtc_walkthechat_queue_grid_data_source" xsi:type="string">Walkthechat\Walkthechat\Model\ResourceModel\Queue\Grid\Collection</item>
                <item name="wtc_walkthechat_api_log_grid_data_source" xsi:type="string">Walkthechat\Walkthechat\Model\ResourceModel\ApiLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Walkthechat\Walkthechat\Model\ResourceModel\Queue\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wtc_walkthechat_queue</argument>
            <argument name="eventPrefix" xsi:type="string">wtc_walkthechat_queue_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">wtc_walkthechat_queue_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Walkthechat\Walkthechat\Model\ResourceModel\Queue</argument>
        </arguments>
    </type>

    <virtualType name="WalkthechatQueueGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Walkthechat\Walkthechat\Model\ResourceModel\Queue\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">WalkthechatQueueGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="WalkthechatQueueGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Walkthechat\Walkthechat\Model\ResourceModel\ApiLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wtc_walkthechat_api_log</argument>
            <argument name="resourceModel" xsi:type="string">Walkthechat\Walkthechat\Model\ResourceModel\ApiLog</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="walkthechat_name" xsi:type="string">sales_order.walkthechat_name</item>
            </argument>
        </arguments>
    </virtualType>
</config>
